.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 1rem auto 3rem;
}

.header {
  display: flex;
}

.backToHome {
  margin: 3rem 0 0;
}

.titleNotHome {
  font-size: 2.2974rem;
  line-height: 3.25rem;
  margin-bottom: 10px;
  color: rgb(105, 105, 105);
  font-weight: 600;
}
