.iconRow {
    display: flex;
    flex-direction: row-reverse;
    /* hard-coded from old layout */
    margin-bottom: 0;
    margin-top: 12px;
}

  .socialIcon {
    box-shadow: none;
    text-shadow: 2px 2px 3px #CDCDCD;
    color: #696969;
    /* hard-coded from old layout */
    padding-right: 6.5px;
}
.socialIcon:hover {
    color: #4078c0;
}
