.iconRow {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
  margin-top: 12px;
}

.socialIcon {
  box-shadow: none;
  text-shadow: 2px 2px 3px #cdcdcd;
  color: #696969;
  padding-right: 6.5px;
}
.socialIcon:hover {
  color: #4078c0;
}
